*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}


body{
background-color: rgb(91, 190, 255);
display:flex;
justify-content: center;   
align-items: center;
min-height: 100vh;
}

.container{
position: relative;
width: 100%;
min-height: 1000px;
margin: 60px;
max-width: 1000px;
background: white;
display: grid;
grid-template-columns: 1fr 2fr;
-webkit-box-shadow: 0px 0px 7px 1px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 7px 1px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 7px 1px rgba(66, 68, 90, 1);
}

.container .l_side{
position: relative;
background: #003147;
padding: 40px;
}

.profileTxt{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 20px;
border-bottom:  1px solid rgba(255,255,255,0.2);
}

.profileTxt .imgbox{
position: relative;
width: 200px;
height: 200px;
border-radius: 50%;
overflow: hidden;
}

.profileTxt .imgbox img{
position: absolute;
top: 0;
left: 0 ;
width: 100%;
height: 100%;
object-fit: cover;
}


.container .r_side{
position: relative;
background:#fff;
 padding: 40px; 
}

.profileTxt h2{
color: #fff;
font-size: 1.5em;
margin-top: 15px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
}

.contactinfo{
padding-top: 30px;
}

.title{
color: #fff;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 1px;   
margin-bottom: 20px;
}

.contactinfo ul{
position: relative;
}

.contactinfo ul li{ 
position: relative;
list-style: none;
margin: 10px 0;
}

.contactinfo ul li i{

width:30px;
font-size: 15px;
color: #03a9f4;
display: flex;
}

.contactinfo ul li span{
color: #fff;
font-weight: 300;
}


.contactinfo.education {
color: #fff;
}

.container .r_side{
position: relative;
background-color: #fff;
padding:40px ;

}

.about{
margin-bottom: 50px;
}

.about:last-child{
margin-bottom: 0;
}

.title2{
color: #003147;
text-transform: uppercase;
letter-spacing: 1px;

margin-bottom: 10px;
}

.about .box{
display: flex;
flex-direction: row;
margin: 20px 0;
}

.about .box .year_company {
min-width:150px;
}

.about .box .year_company h5{
 text-transform: uppercase;
 color: #848c90;
 font-weight: 600;   
}

.about .box .text h4{
color: #03a9f4;
font-size: 16px;
text-transform: uppercase;
}

.skills .box{
position: relative;
width: 100%;
display: grid;
grid-template-columns: 150px 1fr;

}

.hobby ul{
display: grid;
}

.hobby ul li{
list-style: none;
color:black;

margin: 10px 0;
}

@media (max-width:1000px)
{
.container{
margin: 10px;
grid-template-columns: repeat(1,1fr);
}

.hobby ul
{
    grid-template-columns: repeat(2,1fr)
}
}

@media (max-width:600px)
{
.about .box{
    flex-direction: column;
}

.year_company{
margin-bottom: 8px;
}

}

